#!/bin/bash
# chkconfig: 35 99 99
# description: Categraf Agent

# Source function library.
. /etc/rc.d/init.d/functions

USER="{{ user }}"
DAEMON="{{ install_dir }}/categraf"
CONFIG="{{ config_dir }}/config.toml"
LOCK_FILE=/var/lock/subsys/categraf

start() {
    echo -n "Starting categraf: "
    daemon --user "$USER" --pidfile="$LOCK_FILE" $DAEMON --config=$CONFIG
    RETVAL=$?
    echo
    [ $RETVAL -eq 0 ] && touch $LOCK_FILE
    return $RETVAL
}

stop() {
    echo -n "Shutting down categraf: "
    pid=$(pgrep -f "$DAEMON")
    if [ -n "$pid" ]; then
        kill $pid
        RETVAL=$?
    else
        RETVAL=1
    fi
    echo
    [ $RETVAL -eq 0 ] && rm -f $LOCK_FILE
    return $RETVAL
}

restart() {
    stop
    start
}

status() {
    if [ -f $LOCK_FILE ]; then
        echo "categraf is running"
    else
        echo "categraf is stopped"
    fi
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart)
        restart
        ;;
    status)
        status
        ;;
    *)
        echo "Usage: {start|stop|restart|status}"
        exit 1
        ;;
esac

exit $?